* {
    /* border: 1px solid   red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    align-items: center;
    margin-top: 10px;
}

body {
    font-size: 13px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
}

.a-section {
    margin-bottom: 22px;
    
}

.a-icon {
    background-position: -5px -130px;
    /* height: 31px;
    width: 103px; */
    background-size: 400px 750px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    align-items: center;
}

.a-padding-extra-large {
    padding: 20px 26px;
}

.a-text-center {
    text-align: center;
}

div {
    display: block;
}

#center-section {
    margin: auto;
    width: 350px;
    align-items: left;
}

#main-section {
    margin-top: 10px;
    align-items: left;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 25px;
    line-height: 150%;
}

input {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    line-height: 100%;
    width: 100%;
}

.a-button {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-weight: 100;
    /* padding-left: 120px;
    padding-right: 120px; */
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
}

.b-section {
    text-align: center;
    font-size: medium;
}

.b-button {
    width: 350px;
}